<a href="https://colab.research.google.com/github/M-Ghodrat/Servus/blob/main/03_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Structure of a function:

```python
def func(input): # input to function can be ANYTHING even another function!
    # code
    return output
```

Watch the space in funtion environment!

In [20]:
def my_func(name, num):
  num = num + 1
  print(name)
  print(num)
  return num

In [21]:
var = my_func("Mohsen", 10)

Mohsen
11

In [23]:
var

11

In [ ]:
def my_func(name, num):
  return f"Hello {name}", num

In [ ]:
output = my_func("Mohsen", 10)

In [ ]:
output

('Hello Mohsen', 10)

In [ ]:
def my_func(name, num):
  return f"Hello {name}"
  return num

In [ ]:
output = my_func("Mohsen", 10)
output

'Hello Mohsen'

In [ ]:
def foo1():
  return "Hi"

def foo2():
  print("Hi")

In [ ]:
out1 = foo1()
type(out1)

str

In [ ]:
out2 = foo2()
type(out2)

Hi

NoneType

In [ ]:
def multiply10(num):
  return num*10

def foo(func, num):
  return func(num)

foo(multiply10, 7)

70

In [ ]:
def sum1(a, b):
  c = a + b + 8
  return c

In [ ]:
sum1(2, 1)

11

In [ ]:
x = 2
y = 1
sum1(x, y)

11

**Note:** a,b,c are defined locally (within function environment)

In [ ]:
a

NameError: name 'a' is not defined

In [26]:
def diff(a, b, power):
    return (a - b) ** power

### Positional variables/arguments

Pass the arguments through their positions. Thus: Order DOES matter

In [27]:
print(diff(5, 2, 8))
print(diff(8, 2, 5))

6561
7776

### Named variables/arguments

Pass the arguments through their names. Thus: Order does NOT matter

In [28]:
print(diff(a=5, b=2, power=8))
print(diff(power=8, b=2, a=5))

6561
6561

### Partial variables/arguments

The positional variables should come first!

In [33]:
print(diff(5, b=2, power=8))
print(diff(5, power=8, b=2))

6561
6561

In [ ]:
diff(a=5, b=2, 8)

SyntaxError: positional argument follows keyword argument (<ipython-input-55-ff7baf0296e3>, line 1)

In [ ]:
def change_list(mylist, index, value):
    mylist[index] = value
    return mylist

change_list(mylist=[0,1,2,3,4], index=-1, value=9999)

[0, 1, 2, 3, 9999]

### Default Value

In [35]:
def sum1(a=1, b=3):
    return a + b

print(sum1(2, 7))
print(sum1(2))
print(sum1())

9
5
4

In [ ]:
sum1(b=2)

3

`None` value is used to make a variable optional!

In [36]:
def sum1(a=1, b=3, c=None):

    output = a + b
    if c:
        output = output + c

    return output

sum1(1, 2)
sum1(1, 2, 3)

6

### Infinite positional

In [45]:
summation = 0
for num in [1,2,3,4,5,6,100]:
  summation += num
summation

121

In [47]:
def sum1(*args):
    summation = 0
    for num in args:
        summation += num
    return summation

sum1(1), sum1(1,2), sum1(1,2,3,4)

(1, 3, 10)

In [48]:
sum1(*(1,2,3,4)) # --> sum1(1,2,3,4)

10

In [ ]:
sum1(*[1,2,3,4])

10

In [ ]:
sum1(*{1,2,3,4})

10

In [49]:
sum1(*{1:10, 2:20, 3:30, 4:40})

10

Notice the difference: (?)

In [51]:
def foo(*args):
  return args[0]

In [52]:
foo(1,2,3,4)

1

In [ ]:
foo(*(1,2,3,4))

1

In [ ]:
foo((1,2,3,4))

(1, 2, 3, 4)

### Infinite named (keyword)

In [53]:
def func(**kwargs):
  print(fname, lname)

In [54]:
func("Mohsen", "Ghodrat")

Mohsen Ghodrat

In [57]:
func("Ghodrat", "Mohsen")

Ghodrat Mohsen

In [59]:
func(fname="Mohsen", lname="Ghodrat")

Mohsen Ghodrat

In [56]:
func(lname="Ghodrat", fname="Mohsen")

Mohsen Ghodrat

In [63]:
my_dict = {'fname':"Mohsen", 'lname':"Ghodrat"}
my_dict['lname']

'Ghodrat'

In [65]:
def func(**kwargs):
    print(kwargs['fname'] + ' ' + kwargs['lname'])

In [70]:
func(fname = "Mohsen", lname = "Ghodrat")

Mohsen Ghodrat

In [ ]:
dict(fname = 'Mohsen', lname = 'Ghodrat')

{'fname': 'Mohsen', 'lname': 'Ghodrat'}

In [ ]:
func(**{'fname': 'Mohsen', 'lname': 'Ghodrat'})

Mohsen Ghodrat

**Argument unpacking:**
1. `**` and `*` act as unpackers for keyword and positional arguments respectively
2. keyword arguments are like keywords of a dictionary, by putting `**` before a dictionary we actually tell python to unpack the dictionary and get the keywords from it.

In [76]:
def foo(x,y):
    print(x+y)

foo(1,2)
foo(x=1,y=2)
foo(*(1,2))
foo(**{'x':1, 'y':2})

3
3
3
3

In [ ]:
def foo2(x,y,*z):
  print(z)

foo2(1, 2, *(2,3))
foo2(1, 2, *[2,3])
foo2(1,2, 2,3)

(2, 3)
(2, 3)
(2, 3)

In [77]:
def foo3(x, y=4, **z):
  print(z)

In [86]:
foo3(1,3, a=1, b=2, c=[3,4])

{'a': 1, 'b': 2, 'c': [3, 4]}

In [87]:
d = {'a':1, 'b':2, 'c':[3,4]}

In [88]:
foo3(1,3, **d)
foo3(1,3, a=1, b=2, c=[3,4]) # we can either give the keyword arguments or use ** as an unpacker to get the keywords instead

{'a': 1, 'b': 2, 'c': [3, 4]}
{'a': 1, 'b': 2, 'c': [3, 4]}

In [89]:
def myfunc(*args, **kwargs):
    print(args, kwargs)

l = (1, 2, 3)
d = {'a':1, 'b':2, 'c':3}

In [96]:
myfunc(1,2,3,a=1,b=2,c=3)

() {'a': 1, 'b': 2, 'c': 3}

In [95]:
myfunc(*l)

(1, 2, 3) {}

In [8]:
myfunc(**d)

() {'a': 1, 'b': 2, 'c': 3}

In [9]:
myfunc(*d) # since by default dictionary will be iterated on items

('a', 'b', 'c') {}

In [10]:
myfunc(1,2,*l,3,4,*l,e=10,f=12,**d,g=15)

(1, 2, 1, 2, 3, 3, 4, 1, 2, 3) {'e': 10, 'f': 12, 'a': 1, 'b': 2, 'c': 3, 'g': 15}

## Pass-by-value VS pass-by-reference

### Pass by value:

In [ ]:
def change(new_name):
    new_name = "Jack"
    return new_name

In [ ]:
my_name = "Mohsen"
change(my_name)

'Jack'

In [ ]:
my_name

'Mohsen'

Also note that variables in the function scope are defined locally.

In [ ]:
new_name

NameError: name 'new_name' is not defined

## Pass by reference:

In [ ]:
def change_list(mylist):
    mylist[0] = 999
    return mylist

In [ ]:
old_list = [1, 2, 3, 4, 5]
change_list(old_list)

[999, 2, 3, 4, 5]

In [ ]:
old_list

[999, 2, 3, 4, 5]

Solution to keep the input to functioin unchanged:

In [ ]:
def change(mylist):
    new_list = mylist.copy()
    new_list[0] = 999999
    return new_list

list_1 = [1,2,3]
list_2 = change(list_1)

print(list_1, list_2)