<a href="https://colab.research.google.com/github/M-Ghodrat/Servus/blob/main/03_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Structure of a function:

```python
def func(input): # input to function can be ANYTHING even another function!
    # code
    return output
```

Watch the space in funtion environment!

In [1]:
def sum1(a, b):
    c = a + b + 8
    return c

In [2]:
sum1(2, 1)

11

In [ ]:
x = 2
y = 1
sum1(x, y)

**Note:** a,b,care defined locally (within function environment)

In [3]:
a

NameError: name 'a' is not defined

In [5]:
def diff(a, b, power):
    return (a - b) ** power

### Positional variables/arguments

Pass the arguments through their positions. Thus: Order DOES matter

In [6]:
print(diff(5, 2, 8))
print(diff(8, 2, 5))

6561
7776

### Named variables/arguments

Pass the arguments through their names. Thus: Order does NOT matter

In [7]:
x = 5
y = 2
power = 8
print(diff(a=x, b=y, power=power))
print(diff(power=power, b=y, a=x))

6561
6561

### Partial variables/arguments

The positional variables should come first!

In [8]:
y = 2
power = 8
diff(5, b=y, power=power)

6561

In [9]:
x = 5
y = 2
diff(a=x, b=y, 8)

SyntaxError: positional argument follows keyword argument (<ipython-input-9-cf0542ca7ef2>, line 3)

In [10]:
def change_list(mylist, index, value):
    mylist[index] = value
    return mylist

change_list(mylist=[0,1,2,3,4], index=-1, value=9999)

[0, 1, 2, 3, 9999]

### Default Value

In [11]:
def sum1(a=1, b=3):
    return a + b

print(sum1())
print(sum1(2))
print(sum1(2, 7))

4
5
9

`None` value is used to make a variable optional!

In [12]:
def sum1(a=1, b=3, c=None):

    output = a + b
    if c:
        output = output + c

    return output

sum1(1, 2, 5)

8

### Infinite positional

In [61]:
def sum1(*args):
    summation = 0
    for num in args:
        summation += num
    return summation

sum1(1), sum1(1,2), sum1(1,2,3,4)

(1, 3, 10)

In [22]:
sum1(*(1,2,3,4))

1

In [46]:
sum1(*[1,2,3,4])

10

In [47]:
sum1(*{1,2,3,4})

10

In [48]:
sum1(*{1:10, 2:20, 3:30, 4:40})

10

Notice the difference: (?)

In [63]:
def foo(*args):
  return args[0]

In [66]:
foo(1,2,3,4)

1

In [64]:
foo(*(1,2,3,4))

1

In [65]:
foo((1,2,3,4))

(1, 2, 3, 4)

### Infinite named (keyword)

In [28]:
def func(**kwargs):
    print(kwargs['fname'] + ' ' + kwargs['lname'])

func(fname = 'Mohsen', lname = 'Ghodrat')

Mohsen Ghodrat

In [29]:
dict(fname = 'Mohsen', lname = 'Ghodrat')

{'fname': 'Mohsen', 'lname': 'Ghodrat'}

In [30]:
func(**{'fname': 'Mohsen', 'lname': 'Ghodrat'})

Mohsen Ghodrat

**Argument unpacking:**
1. `**` and `*` act as unpackers for keyword and positional arguments respectively
2. keyword arguments are like keywords of a dictionary, by putting `**` before a dictionary we actually tell python to unpack the dictionary and get the keywords from it.

In [31]:
def foo(x,y):
    print(x+y)

foo(1,2)
foo(*(1,2))

3
3

In [32]:
def foo2(x,y, *z):
  print(z)

foo2(1, 2, *(2,3))
foo2(1, 2, *[2,3])
foo2(1,2, 2,3)

(2, 3)
(2, 3)
(2, 3)

In [37]:
def foo3(x, y=4, **z):
  print(z)

In [38]:
d = {'a':1, 'b':2, 'c':[3,4]}

In [40]:
foo3(1,3, **d)
foo3(1,3, a=1, b=2, c=[3,4]) # we can either give the keyword arguments or use ** as an unpacker to get the keywords instead

{'a': 1, 'b': 2, 'c': [3, 4]}
{'a': 1, 'b': 2, 'c': [3, 4]}

In [41]:
def myfunc(*args, **kwargs):
    print(args, kwargs)

l = (1, 2, 3)
d = {'a':1, 'b':2, 'c':3}

In [42]:
myfunc(*l)

(1, 2, 3) {}

In [43]:
myfunc(**d)

() {'a': 1, 'b': 2, 'c': 3}

In [45]:
myfunc(*d) # since by default dictionary will be iterated on items

('a', 'b', 'c') {}

In [ ]:
myfunc(1,2,*l,3,4,*l,e=10,f=12,**d,g=15)

## Pass-by-value VS pass-by-reference

### Pass by value:

In [69]:
def change(new_name):
    new_name = "Jack"
    return new_name

In [73]:
my_name = "Mohsen"
change(my_name)

'Jack'

In [74]:
my_name

'Mohsen'

Also note that variables in the function scope are defined locally.

In [75]:
new_name

NameError: name 'new_name' is not defined

## Pass by reference:

In [76]:
def change_list(mylist):
    mylist[0] = 999
    return mylist

In [77]:
old_list = [1, 2, 3, 4, 5]
change_list(old_list)

[999, 2, 3, 4, 5]

In [78]:
old_list

[999, 2, 3, 4, 5]

Solution to keep the input to functioin unchanged:

In [ ]:
def change(mylist):
    new_list = mylist.copy()
    new_list[0] = 999999
    return new_list

list_1 = [1,2,3]
list_2 = change(list_1)

print(list_1, list_2)