<a href="https://colab.research.google.com/github/M-Ghodrat/Servus/blob/main/04_Opertors_and_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators

In [8]:
x = 5
x < 2

False

In [9]:
x * 2

10

In [10]:
x / 2

2.5

In [12]:
x % 2

1

In [13]:
x // 2

2

In [14]:
x != 5

False

In [15]:
x == 2

False

In [17]:
x == 2 or x == 5

True

In [20]:
x == 5 and x >= 5

True

In [23]:
True or False or True

True

In [22]:
True and False

False

In [24]:
not(x == 2)

True

In [25]:
not x == 2

True


Priority of operations in python?

```python
x and y or x and z
```

# Statements:

`if`

Syntax of an `if` statement:

<img src="https://raw.githubusercontent.com/M-Ghodrat/Servus/86fc54036db176480d9e134944a8158ac6f4242a/images/if-statement.PNG" height="200">

In [41]:
name = "Zack"

In [44]:
if name == "Mohsen":
    print("My name is Mohsen")
elif name == "Jack":
    print("name is Jack")
elif name == "Zack":
    print("Zack is my name")
else:
    print("I don't know")

Zack is my name

In [46]:
name = "Mohsen"
if name == "Mohsen":
    print("My name is Mohsen")
elif name == "Mohsen":
    print("Zack is my name")

My name is Mohsen

In [47]:
if name == "Mohsen":
    print("My name is Mohsen")
if name == "Mohsen":
    print("Zack is my name")

My name is Mohsen
Zack is my name

In [49]:
x = 5
if x == 5:
    pass
else:
    print("x not 5")

In [50]:
x = 5
if x != 5:
    print("x is not equal to 5")
else:
    print("x is equal to 5")

x is equal to 5

# Loops:

`for`

Syntax of a `for` loop:

<img src="https://raw.githubusercontent.com/M-Ghodrat/Servus/f6163882ee52f09cd1a589caa0352c90491c4f4b/images/for-loop.PNG" height="200">

In [ ]:
for var in [1,2,3,4,5]:
  print(var)
else:
  print("End")

In [63]:
for var in {1:10, 2:20, 3:30, 4:40, 5:50}:
  print(var)
else:
  print("End")

1
2
3
4
5
End

In [64]:
for var in "Hello":
  print(var)
else:
  print("End")

H
e
l
l
o
End

In [66]:
mylist = [1, 2, 3, 4, 5]
for num in mylist:
    print(num*3)

3
6
9
12
15

In [68]:
[1,2,3,4,5]+[1,2,3,4,5]+[1,2,3,4,5]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [69]:
[1,2,3,4,5]*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [71]:
mylist = [1, 2, 3, 4, 5]
new_list = []
for num in mylist:
    new_list.append(num*3)
new_list

[3, 6, 9, 12, 15]

In [73]:
print("Hi")
print("Hi")

Hi
Hi

**Note:** print has a built-in "\n"

In [75]:
mylist = ["apple", "orange", "banana"]
for fruit in mylist:
    print(fruit, end="--")

apple--orange--banana--

In [76]:
mytuple = (1, 2, 3, 4, 5)
for num in mytuple:
    print(num)

1
2
3
4
5

In [77]:
mydic = {1:"one", 2:"two", 3:"three", 4:"four", 5:"five"}

print(mydic.keys())
print(mydic.values())
print(mydic.items())

dict_keys([1, 2, 3, 4, 5])
dict_values(['one', 'two', 'three', 'four', 'five'])
dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')])

when iteration on dictionary, the defualt iteration is on "keys"

In [78]:
for num in mydic:
    print(num)

1
2
3
4
5

In [79]:
for num in mydic.values():
    print(num)

one
two
three
four
five

In [86]:
new_list = []
for num in mydic.items():
  # print(num[0], num[1])
  new_list.append([num[0],num[1]])
new_list

[[1, 'one'], [2, 'two'], [3, 'three'], [4, 'four'], [5, 'five']]

In [ ]:
for char in "python":
    print(char)

In [ ]:
for char in "python":
    print(char)

In [ ]:
for char in "python is god".split():
    print(char)

In [ ]:
for char in list("python"):
    print(char)

In [ ]:
for i in range(10):
    i = i-1
    print(i)

example of an infinite loop with for:

In [ ]:
mylist = [1, 2, 3, 4]
for i in mylist:
    mylist.append(4)
    print(i)

Unpacking of tuples:

In [ ]:
mylist = [(1, 1), (2, 8), (3, 27), (4, 64)]
for num, power_3 in mylist:
    print(num, power_3)

In [ ]:
for num1, _ in mylist:
    print(num1)

Without unpacking:

In [ ]:
mylist = [(1, 1), (2, 8), (3, 27), (4, 64)]
for item in mylist:
    print(item, item[0], item[1])

`while`

Syntax of a `while` loop:

In [ ]:
x = 5
while x > 0:
    print(x)
    x = x - 1
else: # when it comes out of loop
    print("loop finished")

**Note:**

if there is a `break`, `else` is not executed.

`else` is only executed when the loop finishes successfully.

**Better to say:** `else` is only executed when the loop condition is violated! (no matter we have `break` or not!) So when we use `break`, normally if `break` happens, we come out of the loop without the loop condition being violated! so like the following example, the code continues to the `else`: section but since the condition of loop is not violated, the statement of `else` won't run!

In [ ]:
x = 5
while x > 0:
    print(x)
    x = x - 1

    if x == 1:
        break
else:
    print('loop finished')

`break`, `continue` and `pass`

In [ ]:
# break a loop
customers = ["Jack", "Mohsen", "Dave", "John"]
for name in customers:

    if name == "Mohsen":
        print(name)
        print("found it")
        break
    else:
        print("name not found yet! -->", name)

In nested loopd, `break` works for the current loop:

In [ ]:
for i in range(5):
    for j in range(10):
        print("j -->", j)
        if j % 2 ==0:
            break

    print("i ==>", i)

In [ ]:
# pass for later: To avoid error (felan hal nadaram benvisam!)
condition = True
if condition:
    pass
else:
    # code here

error without `pass`:

In [ ]:
condition = True
if condition:

else:
    # code here

In [ ]:
# continue
for item in range(10):
    if item % 2 == 0:
        continue # means: go to the next iteration

    print(item)

`continue`, `break` are just used in loops, but `pass` can be used everywhere (`if`, `loop`, ...)

`enumerate`

In [ ]:
word = 'abcdefghij'

for index, char in enumerate(word):
    print(index, char)

This is similar to:

In [ ]:
counter = 0
for char in list(word):
    print(counter, char)
    counter = counter + 1

In [ ]:
for index, char in enumerate(list('abcdefghij')):
    print(index, char)

In [ ]:
def enumerate_mohsen(mystr):
    newlist = []
    counter = 0
    for char in mystr:
        newlist.append([counter, char])
        print(counter, char)
        counter += 1

    #print(newlist)

enumerate_mohsen('abcdefghij')

`zip`

In [ ]:
people = ["Mohsen", "Zac", "Dave", "John"]
roles = ["Mafia", "Mafia", "Citizen"]

In [ ]:
for name, role in zip(people, roles):
    print(name, "role is", role)

`input`

In [ ]:
name = input("Please enter your name: ")

In [ ]:
num = input("please enter a number:")

**Note:**
The output of input function is always string!

**List Comprehensions**
List comprehensions are a unique way of quickly creating a list with python.

If you find yourself using a for loop along with `.append()` to create a list, List Comprehensions are a good alternative.

In [ ]:
mystring = "hello"

In [ ]:
# without list comprehensions
mylist = []

for letter in mystring:
    mylist.append(letter)

In [ ]:
mylist

In [ ]:
# with list comprehensions
mylist = [letter for letter in mystring]

In [ ]:
mylist

Examples:

In [ ]:
mylist = [num**2 for num in range(10)]
mylist

In [ ]:
mylist = [num**2 for num in range(10) if num % 2 == 0]
mylist

we can not use `while` instead of `if` in above list comprehension

In [ ]:
celcius = [-60, -40, 0, 30, 34.5]

fahrenheit = [(9 / 5) * temp + 32 for temp in celcius]
fahrenheit

In [ ]:
names = ["Donald Trump", "Joe Biden", "Barack Obama"]
print([name.split()[0] for name in names])
print([name[0] for name in names])

`if` `else` in List Comprehension

In [ ]:
newlist = [item if item % 2 == 0 else item for item in range(10)]
newlist

we will encounter error without the use of `else`:

In [ ]:
newlist = [item if item % 2 == 0 for item in range(10)]
newlist

also `pass` won't work

# Set & Dictionary Comprehensions

In [ ]:
{item for item in range(10)}

In [ ]:
{key: key**3 for key in range(10)}