<a href="https://colab.research.google.com/github/M-Ghodrat/Servus/blob/main/04_Opertors_and_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators

In [ ]:
x = 5
x < 2

In [ ]:
x // 2

In [ ]:

x % 2

In [ ]:
x != 5

In [ ]:
x == 2

In [ ]:
x == 2 or x == 3

In [ ]:
x == 2 and x == 3

In [ ]:
True or False

In [ ]:
True and False

In [ ]:
not(x == 2)

In [ ]:
not x == 2


Priority of operations in python?

```python
x and y or x and z
```

# Statements:

`if`

Syntax of an `if` statement:

<img src="https://raw.githubusercontent.com/M-Ghodrat/Servus/86fc54036db176480d9e134944a8158ac6f4242a/images/if-statement.PNG" height="200">

In [ ]:
name = "Mohsen"

In [ ]:
if name == "Mohsen":
    print("yes")
elif name == "Jack":
    print("name is Jack")
else:
    print("I don't know")

In [ ]:
x = 15
if x == 5:
    pass
else:
    print("x not 5")

In [ ]:
x = 5
if x != 5:
    print("x is not equal to 5")
else:
    print("x is equal to 5")

for Loop
Syntax of a for loop:

<img src="https://raw.githubusercontent.com/M-Ghodrat/Servus/f6163882ee52f09cd1a589caa0352c90491c4f4b/images/for-loop.PNG" height="200">

In [3]:
mylist = [1 ,2 ,3 ,4 ,5]
for num in mylist:
    print(num)

1

**Note:** print has a built-in "\n"

In [ ]:
mylist = ["apple", "orange", "banana"]
for fruit in mylist:
    print(fruit, end="--")

In [ ]:
mytuple = (1 ,2 ,3 ,4 ,5)
for num in mytuple:
    print(num)

In [ ]:
mydic = {1:"one" ,2:"two" ,3:"three" ,4:"four" ,5:"five"}

print(mydic.keys())
print(mydic.values())
print(mydic.items())

when iteration on dictionary, the defualt iteration is on "keys"

In [ ]:
for num in mydic:
    print(num)

In [ ]:
for num in mydic.values():
    print(num)

In [ ]:
for char in "python":
    print(char)

In [ ]:
for char in "python":
    print(char)

In [ ]:
for char in "python is god".split():
    print(char)

In [ ]:
for char in list("python"):
    print(char)

In [ ]:
for i in range(10):
    i = i-1
    print(i)

example of an infinite loop with for:

In [ ]:
mylist = [1, 2, 3, 4]
for i in mylist:
    mylist.append(4)
    print(i)