<a href="https://colab.research.google.com/github/M-Ghodrat/Servus/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Why Use Pandas?

Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

In [2]:
import pandas

In [3]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar = pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

Pandas is usually imported under the `pd` alias.

In [4]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [5]:
print(pd.__version__)

2.2.2

# What is a Series?

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [6]:
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

## Labels

In [7]:
print(myvar[0])

1

## Create Labels

In [8]:
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [9]:
print(myvar["y"])

7

Key/Value Objects as Series

In [10]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [11]:
myvar = pd.Series(calories, index = ["day1", "day2"])
print(myvar)

day1    420
day2    380
dtype: int64

## DataFrames

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [12]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data)
print(myvar)

day1    420
day2    380
dtype: int64

## Locate Row

In [13]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

**Note**: It returns a Pandas Series.

In [14]:
print(df.loc[[0, 1]])

   calories  duration
0       420        50
1       380        40

When using `[]`, the result is a Pandas DataFrame.

In [15]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

## Locate Named Indexes

In [16]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

# Load Files Into a DataFrame

If your data sets are stored in a file, Pandas can load them into a DataFrame.

# Read CSV

In [19]:
%%writefile /content/data.csv
Name,Age,City
Alice,25,New York
Bob,30,Los Angeles
Charlie,35,Chicago
David,40,Houston

Writing /content/data.csv

In [20]:
df = pd.read_csv('data.csv')
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [21]:
print(df.to_string())

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

**Note**: use `to_string()` to print the entire DataFrame.

# Read JSON

In [34]:
%%writefile /content/data.json
[
    {"Name": "Alice", "Age": 25, "City": "New York"},
    {"Name": "Bob", "Age": null, "City": "Los Angeles"},
    {"Name": "Charlie", "Age": 35, "City": "Chicago"},
    {"Name": "David", "Age": 40, "City": "Houston"}
]

Overwriting /content/data.json

In [35]:
df = pd.read_json('data.json')
print(df.to_string())

      Name   Age         City
0    Alice  25.0     New York
1      Bob   NaN  Los Angeles
2  Charlie  35.0      Chicago
3    David  40.0      Houston

# Viewing the Data

In [27]:
df = pd.read_csv('data.csv')
print(df.head(2))

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles

In [28]:
print(df.tail(2))

      Name  Age     City
2  Charlie   35  Chicago
3    David   40  Houston

# Info About the Data

In [36]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     3 non-null      float64
 2   City    4 non-null      object
dtypes: float64(1), object(2)
memory usage: 228.0+ bytes
None

In [65]:
%%writefile /content/workout_data.json
[
  {"Duration": 60, "Date": "2020/12/01", "Pulse": 110, "Maxpulse": 130, "Calories": 409.1},
  {"Duration": 60, "Date": "2020/12/02", "Pulse": 117, "Maxpulse": 145, "Calories": 479.0},
  {"Duration": 60, "Date": "2020/12/03", "Pulse": 103, "Maxpulse": 135, "Calories": 340.0},
  {"Duration": 45, "Date": "2020/12/04", "Pulse": 109, "Maxpulse": 175, "Calories": 282.4},
  {"Duration": 45, "Date": "2020/12/05", "Pulse": 117, "Maxpulse": 148, "Calories": 406.0},
  {"Duration": 60, "Date": "2020/12/06", "Pulse": 102, "Maxpulse": 127, "Calories": 300.0},
  {"Duration": 60, "Date": "2020/12/07", "Pulse": 110, "Maxpulse": 136, "Calories": 374.0},
  {"Duration": 450, "Date": "2020/12/08", "Pulse": 104, "Maxpulse": 134, "Calories": 253.3},
  {"Duration": 30, "Date": "2020/12/09", "Pulse": 109, "Maxpulse": 133, "Calories": 195.1},
  {"Duration": 60, "Date": "2020/12/10", "Pulse": 98, "Maxpulse": 124, "Calories": 269.0},
  {"Duration": 60, "Date": "2020/12/11", "Pulse": 103, "Maxpulse": 147, "Calories": 329.3},
  {"Duration": 60, "Date": "2020/12/12", "Pulse": 100, "Maxpulse": 120, "Calories": 250.7},
  {"Duration": 60, "Date": "2020/12/12", "Pulse": 100, "Maxpulse": 120, "Calories": 250.7},
  {"Duration": 60, "Date": "2020/12/13", "Pulse": 106, "Maxpulse": 128, "Calories": 345.3},
  {"Duration": 60, "Date": "2020/12/14", "Pulse": 104, "Maxpulse": 132, "Calories": 379.3},
  {"Duration": 60, "Date": "2020/12/15", "Pulse": 98, "Maxpulse": 123, "Calories": 275.0},
  {"Duration": 60, "Date": "2020/12/16", "Pulse": 98, "Maxpulse": 120, "Calories": 215.2},
  {"Duration": 60, "Date": "2020/12/17", "Pulse": 100, "Maxpulse": 120, "Calories": 300.0},
  {"Duration": 45, "Date": "2020/12/18", "Pulse": 90, "Maxpulse": 112, "Calories": null},
  {"Duration": 60, "Date": "2020/12/19", "Pulse": 103, "Maxpulse": 123, "Calories": 323.0},
  {"Duration": 45, "Date": "2020/12/20", "Pulse": 97, "Maxpulse": 125, "Calories": 243.0},
  {"Duration": 60, "Date": "2020/12/21", "Pulse": 108, "Maxpulse": 131, "Calories": 364.2},
  {"Duration": 45, "Date": null, "Pulse": 100, "Maxpulse": 119, "Calories": 282.0},
  {"Duration": 60, "Date": "2020/12/23", "Pulse": 130, "Maxpulse": 101, "Calories": 300.0},
  {"Duration": 45, "Date": "2020/12/24", "Pulse": 105, "Maxpulse": 132, "Calories": 246.0},
  {"Duration": 60, "Date": "2020/12/25", "Pulse": 102, "Maxpulse": 126, "Calories": 334.5},
  {"Duration": 60, "Date": "20201226", "Pulse": 100, "Maxpulse": 120, "Calories": 250.0},
  {"Duration": 60, "Date": "2020/12/27", "Pulse": 92, "Maxpulse": 118, "Calories": 241.0},
  {"Duration": 60, "Date": "2020/12/28", "Pulse": 103, "Maxpulse": 132, "Calories": null},
  {"Duration": 60, "Date": "2020/12/29", "Pulse": 100, "Maxpulse": 132, "Calories": 280.0},
  {"Duration": 60, "Date": "2020/12/30", "Pulse": 102, "Maxpulse": 129, "Calories": 380.3},
  {"Duration": 60, "Date": "2020/12/31", "Pulse": 92, "Maxpulse": 115, "Calories": 243.0}
]

Writing /content/workout_data.json

In [71]:
df = pd.read_json('workout_data.json')
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [67]:
df.head()

   Duration       Date  Pulse  Maxpulse  Calories
0        60 2020-12-01    110       130     409.1
1        60 2020-12-02    117       145     479.0
2        60 2020-12-03    103       135     340.0
3        45 2020-12-04    109       175     282.4
4        45 2020-12-05    117       148     406.0

# Data Cleaning

* Empty cells
* Data in wrong format
* Wrong data
* Duplicates

## Remove Rows

In [43]:
new_df = df.dropna()
print(new_df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

You can change the original DataFrame by using the `inplace = True` argument.

In [46]:
df.dropna(inplace = True)
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [88]:
df = pd.read_json('workout_data.json')
df.dropna(subset=['Date'], inplace = True)
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

# Replace Empty Values

In [52]:
df = pd.read_json('workout_data.json')
df.fillna(130, inplace = True)
print(df.to_string())

    Duration                 Date  Pulse  Maxpulse  Calories
0         60  2020-12-01 00:00:00    110       130     409.1
1         60  2020-12-02 00:00:00    117       145     479.0
2         60  2020-12-03 00:00:00    103       135     340.0
3         45  2020-12-04 00:00:00    109       175     282.4
4         45  2020-12-05 00:00:00    117       148     406.0
5         60  2020-12-06 00:00:00    102       127     300.0
6         60  2020-12-07 00:00:00    110       136     374.0
7        450  2020-12-08 00:00:00    104       134     253.3
8         30  2020-12-09 00:00:00    109       133     195.1
9         60  2020-12-10 00:00:00     98       124     269.0
10        60  2020-12-11 00:00:00    103       147     329.3
11        60  2020-12-12 00:00:00    100       120     250.7
12        60  2020-12-12 00:00:00    100       120     250.7
13        60  2020-12-13 00:00:00    106       128     345.3
14        60  2020-12-14 00:00:00    104       132     379.3
15        60  2020-12-15 00:00:00     98       123     275.0
16        60  2020-12-16 00:00:00     98       120     215.2
17        60  2020-12-17 00:00:00    100       120     300.0
18        45  2020-12-18 00:00:00     90       112     130.0
19        60  2020-12-19 00:00:00    103       123     323.0
20        45  2020-12-20 00:00:00     97       125     243.0
21        60  2020-12-21 00:00:00    108       131     364.2
22        45                  130    100       119     282.0
23        60  2020-12-23 00:00:00    130       101     300.0
24        45  2020-12-24 00:00:00    105       132     246.0
25        60  2020-12-25 00:00:00    102       126     334.5
26        60  2020-12-26 00:00:00    100       120     250.0
27        60  2020-12-27 00:00:00     92       118     241.0
28        60  2020-12-28 00:00:00    103       132     130.0
29        60  2020-12-29 00:00:00    100       132     280.0
30        60  2020-12-30 00:00:00    102       129     380.3
31        60  2020-12-31 00:00:00     92       115     243.0

/tmp/ipython-input-3913620470.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '130' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df.fillna(130, inplace = True)

# Replace Only For Specified Columns

In [53]:
df = pd.read_json('workout_data.json')
df.fillna({"Calories": 130}, inplace=True)
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112     130.0
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132     130.0
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

# Replace Using Mean, Median, or Mode

In [54]:
df = pd.read_json('workout_data.json')
x = df["Calories"].mean()
# x = df["Calories"].median()
x = df["Calories"].mode()[0]
df.fillna({"Calories": x}, inplace=True)
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        450 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
12        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
22        45        NaT    100       119    282.00
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00

# Data of Wrong Format

In [74]:
df = pd.read_json('workout_data.json', convert_dates=False)
print(df.to_string())

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2020/12/01    110       130     409.1
1         60  2020/12/02    117       145     479.0
2         60  2020/12/03    103       135     340.0
3         45  2020/12/04    109       175     282.4
4         45  2020/12/05    117       148     406.0
5         60  2020/12/06    102       127     300.0
6         60  2020/12/07    110       136     374.0
7        450  2020/12/08    104       134     253.3
8         30  2020/12/09    109       133     195.1
9         60  2020/12/10     98       124     269.0
10        60  2020/12/11    103       147     329.3
11        60  2020/12/12    100       120     250.7
12        60  2020/12/12    100       120     250.7
13        60  2020/12/13    106       128     345.3
14        60  2020/12/14    104       132     379.3
15        60  2020/12/15     98       123     275.0
16        60  2020/12/16     98       120     215.2
17        60  2020/12/17    100       120     300.0
18        45  2020/12/18     90       112       NaN
19        60  2020/12/19    103       123     323.0
20        45  2020/12/20     97       125     243.0
21        60  2020/12/21    108       131     364.2
22        45        None    100       119     282.0
23        60  2020/12/23    130       101     300.0
24        45  2020/12/24    105       132     246.0
25        60  2020/12/25    102       126     334.5
26        60    20201226    100       120     250.0
27        60  2020/12/27     92       118     241.0
28        60  2020/12/28    103       132       NaN
29        60  2020/12/29    100       132     280.0
30        60  2020/12/30    102       129     380.3
31        60  2020/12/31     92       115     243.0

In [79]:
type(df['Date'][0])

str

In [93]:
df['Date'] = pd.to_datetime(df['Date'], format='mixed')
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [81]:
type(df['Date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [86]:
df['Date'][0].month

12

# Wrong Data: Replacing Values

In [92]:
df.loc[7, 'Duration'] = 45
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         45 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [95]:
for x in df.index:
  if df.loc[x, "Maxpulse"] > 140:
    df.loc[x, "Maxpulse"] = 140
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       140     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       140     282.4
4         45 2020-12-05    117       140     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        120 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       140     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [97]:
for x in df.index:
  if df.loc[x, "Maxpulse"] == 140:
    df.drop(x, inplace = True)
print(df.to_string())

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
2         60 2020-12-03    103       135     340.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        120 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

# Discovering Duplicates

In [98]:
print(df.duplicated())

0     False
2     False
5     False
6     False
7     False
8     False
9     False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [99]:
df.drop_duplicates(inplace = True)

# Finding Relationships

In [100]:
df.corr()

          Duration      Date     Pulse  Maxpulse  Calories
Duration  1.000000 -0.146262  0.046659  0.135013  0.101345
Date     -0.146262  1.000000 -0.213631 -0.345708 -0.219571
Pulse     0.046659 -0.213631  1.000000 -0.001486  0.355140
Maxpulse  0.135013 -0.345708 -0.001486  1.000000  0.319372
Calories  0.101345 -0.219571  0.355140  0.319372  1.000000

**Note**: The `corr()` method ignores *not numeric* columns.